div { /*УДАЛИТЬ ПОСЛЕ*/
  border: 1px solid red;
} 

div h1{ /*УДАЛИТЬ ПОСЛЕ*/
  border: 1px solid red;
}

div p{ /*УДАЛИТЬ ПОСЛЕ*/
  border: 1px solid red;
}

div h2{ /*УДАЛИТЬ ПОСЛЕ*/
  border: 1px solid red;
} 

.logo {
  border: 1px solid red; /*УДАЛИТЬ ПОСЛЕ*/
}

.link {
  border: 1px solid red; /*УДАЛИТЬ ПОСЛЕ*/
}

.header__square-pic {
  border: 1px solid red; /*УДАЛИТЬ ПОСЛЕ*/
}

.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}



/*_____________________________HEADER BLOCK__________________________*/

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  display:flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  margin-bottom: 100px;
}

.logo {
  width: 228px;
  height: 32px;
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
  z-index: 3;
}

.header__title {
  width: 730px;
  margin: 0 0 0 64px;
  line-height: 96px;
  font-size: 102px;
  font-weight: 600;
  z-index: 3;
}

.header__subtitle {
  position: absolute;
  width: 388px;
  left: 64px;
  bottom: 30px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
  padding: 0;
  z-index: 3;
}

.link {
  text-decoration:none;
  color: #2f80ed;
}

.header__main-illustation {
  position: absolute;
  width: 765px;
  height: 608px;
  bottom: 0;
  right: 0;
  z-index: 2;
}

.header__square-pic {
  position: absolute;
  width: 568px;
  height: 568px;
  top: 64px;
  right: 0px;
  background-color: #2f80ed;
  z-index: 1;
}

@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
}

.rotation {
  animation: rotation 20s linear infinite;
}

/*_____________________________DISCRIPTION BLOCK__________________________*/


.discription {
  background-color: white;
  display:flex;
}

.two-columns {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
}

.two-columns__brief {
  margin: 0;
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.two-columns__paragraph {
  margin: 0 0 30px 0;
}

.two-columns__paragraph:last-of-type {
  margin-bottom: 0;
}

.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: 600;
}

/*_____________________________TECHNIQUES BLOCK__________________________*/

.techniques {
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 100px auto 0;
  padding-bottom: 100px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 920px;
  margin:0 auto;
  list-style: none;
  padding: 0;
}

.cards__item {
  width: 240px;
  margin: 60px 100px 0 0;
}

.cards__item:nth-of-type(3n) {
  margin-right: 0;
}

.cards__image {
  width: 160px;
  height: 160px;
  margin: 0 40px 43px;
  border-radius: 50%;
}

.cards__title {
  text-align: center;
  margin: 0 0 16px;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
}

.cards__discription {
  text-align: center;
  margin: 0;
  line-height: 23px;
  font-size: 18px;
  font-weight: normal;
}

/*_____________________________VIDEO BLOCK__________________________*/
.video {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.video__iframes {
  margin: 50px auto -40px;
}

.video__iframe {
  width: 515px;
  height: 316px;
  margin: 0 20px 0 0;
}

.video__iframe:last-child {
  margin-right: 0;
}

/*_____________________________OAKLEY BLOCK__________________________*/

.oakley {
  background-color: #f2f2f2;
  display:flex;
  padding-top: 160px;
}

/*___________________________FEYNMAN BLOCK_______________________*/


.feynman {
  min-height: 890px;
  background-color: #f2f2f2;
  display:flex;
  position: relative;
  flex-direction: column;
}

.feynman__main-illustation {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 867px;
  height: 637px;
}

.feynman__title {
  text-align: center;
  margin: 100px auto 0 auto;
  width: 648px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
  z-index: 1;
}

.feynman__subtitle {
  margin: 70px auto 0 auto;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  z-index: 1;
}

.feynman__link {
  position: absolute;
  right: 48px;
  top: 50%;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

/*_________________________________________DIGITS BLOCK__________________________________*/

.digits {
  background-color: white;
  display:flex;
  padding-top: 100px;
  padding-bottom: 100px;
  flex-direction:column;
}

.section-title {
  text-align: center;
  margin: 0 auto 20px auto;
  width: 60%;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600px;
}

.section-subtitle {
  text-align: center;
  margin: 0 auto;
  width: 60%;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.table {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1100px;
  margin:0 auto;
  list-style: none;
  padding: 0;
}

.table__cell {
  width: 250px;
  margin-top: 60px;
  margin-bottom: 0;
}

.table__heading {
  margin: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
}

.table__text {
  margin-top: 20px;
  margin-bottom: 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

/*_________________________________________KHAN BLOCK__________________________________*/
.khan {
  background-color: #f2f2f2;
  padding-top: 105px;
}

.khan__container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.khan__author {
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  margin: 0;
}

.khan__title {
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
  margin: 0;
}

.khan__quote {
  width: 790px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin: 60px 0 0 0;
}

.khan__quote-author {
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
  margin: 36px 0 0 0;
}

.khan__quote-author-subline {
  line-height: 1.15;
  font-size: 24px;
  font-weight: normal;
  margin: 10px 0 0 0;
}

.khan__book-container {
  display: flex;
  flex-direction: row;
  margin: 68px 0 0 0;
}

.khan__book-pic {
  width: 620px;
  height: 608px;
  object-fit: cover;
  object-position: top;
}

.khan__buy-link {
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  align-items: top;
  margin: 0 0 0 48px;
}

/*___________________________ KAUFMAN BLOCK____________________________*/


.kaufman {
  background-color: #1f1f1f;
  display:flex;
  padding: 90px 0;
  flex-direction:column;
  position: relative;
  overflow: hidden;
}

.section-title_theme_dark {
  color:white;
  z-index: 1;
}

.section-subtitle_theme_dark {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  color:white;
  z-index: 1;
}

.table_theme_dark {
  z-index: 1;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

.kaufman__triangle {
  position: absolute;
  height: 877px;
  width: 877px;
  top: 0;
  right: -210px;
  z-index: 0;
  background-image: url(../images/kaufman-triangle.svg);
  background-size: cover;
}

/*_____________________________ RESOURCES_______________________ */



/*_____________________________ FOOTER BLOCK_______________________ */

.footer {
display: flex;
min-height: 350px;
box-sizing: border-box;
background-color: #1f1f1f;
padding-top:60px;
color: white;
}

.footer__columns {
  display: flex;
  width: 90%;
  margin: 0 auto 40px;
  justify-content: space-between;
  
}

.footer__column_content_copyright {
  display: flex;
  flex-basis:711px;
  flex-direction: column;
  justify-content: space-between;
}

.footer__author {
  display: flex;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  margin: 18px auto 18px 0;
}

.footer__column-links {
  display:flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0 0 16px 0;
}

.footer__column-link {
  color: white;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column-heading {
  margin-top: 0;
  margin-bottom: 20px;
  line-height: 30px;
  font-size: 18px;
  font-weight: 600px;
}

.footer__social-icon {
  margin-right: 10px;
}